@charset "UTF-8";

@import "normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
	"foundation/components/global",
	"foundation/components/grid",
	"foundation/components/visibility",
	"foundation/components/type",
	"foundation/components/buttons",
	"foundation/components/inline-lists",
	"foundation/components/panels",
	"foundation/components/forms";

header h1 {
	line-height: 100px;
}

#header-divider hr {
	margin-top: 0;
}

.site {
	height: 44px;
	line-height: 44px;

	> a {
		display: block;
	}

	.shortcuts {
		font-size: 13px;
		color: $secondary-color;
		visibility: hidden;

		a {
			color: $secondary-color;
		}
	}
}

.show-shortcuts .shortcuts{
	visibility: visible;
}

.site:nth-child(even) {
	background-color: darken(#fff, 4%);
}

#search {
	border-radius: 4px;
	height: 44px;
	line-height: 44px;
	padding: 10px;
}

.no-bottom-padding {
	padding-bottom: 0px;
}

.sortKey {
	display: none;
}


// Ads

#fusion_ad {
	font-size: 14px;
	width: 100%;
	height: 100px;
	padding: 10px;

	span.fusionentire > a:first-child {
		display: block;
		float: left;
	}

	.fusionimg {
		margin-right: 10px;
	}

	.fusiontext {
		margin-bottom: 1em;
	}

	> a:before {
		content: "\a";
		white-space: pre;
	}
}
