<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>{{{title}}}</title>

	<link rel="stylesheet" href="css/devcenter.css">

	<script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>

	<!-- Header -->

	<header class="row">
		<div class="large-12 columns">
			<h1>{{{title}}}</h1>
			<hr />
		</div>
<!--		<div class="large-4 columns">
			<p><img src="http://placehold.it/130x100&text=[ad]" /></p>
		</div> -->
	</header>

	{{{body}}}	
	
	<!-- Footer -->
	
	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>&copy; Copyright 2013 <a href="https://twitter.com/SteveStreza">Steve Streza</a>.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="http://github.com/stevestreza/DevCenter.me">Hack me on GitHub.</a></li>
					</ul>
				</div>
			</div>
		</div> 
	</footer>


	<script>
	document.write('<script src=javascripts/vendor/' +
	('__proto__' in {} ? 'zepto' : 'jquery') +
	'.js><\/script>')
	</script>
	<script src="javascripts/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '5201a211108d7b01d7000194');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>

</body>
</html>
