<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<title>{{{title}}}</title>

	<link rel="stylesheet" href="css/devcenter.css">

	<script src="javascripts/vendor/custom.modernizr.js"></script>
	<script src="javascripts/vendor/jquery.js"></script>

</head>
<body>

	<!-- Header -->

	<header class="row">
		<div class="large-8 columns">
			<h1>{{{title}}}</h1>
		</div>
		<div class="large-4 columns">
			<div id="fusion_ad">
				<a href="http://fusionads.net">Powered by Fusion</a>
			</div>
		</div>
	</header>

	<div id="header-divider" class="row">
		<div class="large-12 columns">
			<hr />
		</div>
	</div>

	{{{body}}}	
	
	<!-- Footer -->
	
	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>&copy; Copyright 2013 <a href="https://twitter.com/SteveStreza">Steve Streza</a>.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="http://github.com/stevestreza/DevCenter.me">Hack me on GitHub.</a></li>
					</ul>
				</div>
			</div>
		</div> 
	</footer>


	<script>
	document.write('<script src=javascripts/vendor/' +
	('__proto__' in {} ? 'zepto' : 'jquery') +
	'.js><\/script>')
	</script>
	<script src="javascripts/foundation.min.js"></script>
	<script>
		$(document).foundation();
		$(function(){
			$(document).keydown(function(e){
				if(e.altKey){
					$(document.body).addClass("show-shortcuts");
				}
			});
			$(document).keyup(function(e){
				$(document.body).removeClass("show-shortcuts");
			});

			var $rows = $("#services").children("div");

			function performSearch(val){
				$rows.show().filter(function() {
					var $this = $(this);
					var text = $this.text().replace(/\s+/g, ' ').toLowerCase();
					return !~text.indexOf(val);
				}).hide();
			}

			function getParameter(paramName) {
				var searchString = window.location.search.substring(1),
					i, val, params = searchString.split("&");

				for (i=0;i<params.length;i++) {
					val = params[i].split("=");
					if (val[0] == paramName) {
						return val[1];
					}
				}
				return null;
			}

			$('#search').keyup(function() {
				var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
				performSearch(val);
			});

			var existingSearch = getParameter("search");
			if(existingSearch && existingSearch.length > 0){
				$("#search").val(existingSearch);
				performSearch(existingSearch);
			}

			$('.site').click(function(e) {
				if(!$(e.target).is('a') && $(this).find('a').length > 0) {
					document.location = $(this).find('a').attr('href');
				}
			});
		});
	</script>

	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '5201a211108d7b01d7000194');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
	<script type="text/javascript">
		(function(){
			var fusion = document.createElement('script');
			fusion.src = window.location.protocol + '//adn.fusionads.net/api/1.0/ad.js?zoneid=285&rand=' + Math.floor(Math.random()*9999999);
			fusion.async = true;
			(document.head || document.getElementsByTagName('head')[0]).appendChild(fusion);
		})();
	</script>
</body>
</html>
